#analise_de_credito_page_header {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/analise_de_credito.jpeg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

.person-type-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform .3s ease, border-color .3s ease;
    border: 3px solid transparent;
}

.person-type-card:hover {
    border-color: var(--secondary-color);
}

.person-type-card:hover {
    transform: scale(1.1);
}

.person-type-icon {
    width: 120px;
    margin-bottom: 20px;
}

.person-type-title {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 50px;
    background: var(--primary-color);
    color: #fff;
}

.queries {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/consultas.jpg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    padding-bottom: 100px;
}

#analise_de_credito_beneficios {
    background-color: #f1f1f3;
    background-image: url("../images/analise_de_credito_beneficios.jpg");
    background-size: auto 100%;
    background-position: -20vw 20%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}

#analise_de_credito_beneficios .check-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#banner_principal {
    background-image: linear-gradient(180deg,rgb(25, 39, 46, .8) 59%,var(--primary-color)), url("../images/banner_principal.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    min-height: 600px;
    border-radius: 24px;
    color: #fff;
}

#banner_principal #logo {
    width: 200px;
    margin-bottom: 50px;
}

#banner_principal p {
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 1199.98px) {
    .queries .query-card {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 991.98px) {
    .person-type-card {
        margin-bottom: 20px; 
    }

    #analise_de_credito_beneficios {
        background-image: none;
    }
}

@media screen and (max-width: 568px) {
    #analise_de_credito_beneficios h1 {
        text-align: center !important;
    }

    #banner_principal {
        min-height: auto;
        padding: 50px 0;
    }

    #banner_principal #logo {
        width: 120px;
        margin-bottom: 30px;
    }
    
    #banner_principal p {
        width: 80%;
        font-size: 16px;
        text-align: center;
    }
}