@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #24368c;
    --secondary-color: #fde102;
    --danger-color: #ff4444;
    --warning-color: #ffbb33;
    --success-color: #00C851;
    --info-color: #33b5e5;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif !important;
    background: #f7fafc;
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.brand img {
    width: 100px;
}

.navbar {
    background: var(--primary-color);
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-nav.active {
    position: absolute;
    left: 0;
    right: 0;
    visibility: visible !important;
    display: flex !important;
    flex-direction: column !important;
    background: var(--primary-color) !important;
    top: 100px !important;
    height: 100vh;
    transform: translateY(0) !important;
    text-align: center;
    z-index: 1000;
}

.navbar-nav.active #btn_seja_cliente,
.navbar-nav.active #btn_entrar {
    display: flex;
    margin: 10px 0 !important;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 10px 20px;
    color: #d3d2ff;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #fff;
}

.nav-link.active {
    color: var(--secondary-color) !important;
}

/* Botões */

.nav-link,
.btn {
    font-size: 15px;
}

.btn {
    padding: 10px 30px;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

a.btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-toggle {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #fff;
    font-size: 1.6rem;
}

.btn-primary {
    color: #fff;
    background: var(--primary-color);
}

.btn-secondary {
    color: #fff;
    background: var(--secondary-color);
}

.btn-danger {
    color: #fff;
    background: var(--danger-color);
}

.btn-success {
    color: #fff;
    background: var(--success-color);
}

.btn-warning {
    color: #fff;
    background: var(--warning-color);
}

.btn-info {
    color: #fff;
    background: var(--info-color);
}

.btn-lg {
    width: 200px;
}


/* Page header */

.page-header {
    margin-top: 100px;
    height: calc(100vh - 100px);
    min-height: 600px;
}

/* Texto */

.heading-xxl {
    font-size: 76px;
}

.heading-xl {
    font-size: 56px;
    font-weight: 700;
}

.heading-lg {
    font-size: 44px;
    font-weight: 700;
}

.heading-md {
    font-size: 32px;
    font-weight: 700;
}

.heading-sm {
    font-size: 18px;
    font-weight: 700;
}

/* Seções */

.page-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
}

/* Cards */

.card {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
    background: white;
    position: relative;
}

.card:hover {
    transform: translateY(-20px);
}

.card-body {
    padding: 30px;
    position: relative;
    min-height: 400px;
    text-align: center;
}

.card-title {
    margin-bottom: 20px;
}

.card-text {
    font-size: 15px;
}

.card-thumbnail {
    overflow: hidden;
    position: relative;
    height: 200px;
}

.card-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-button {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    position: absolute;
    bottom: 30px;
    color: var(--secondary-color);
    transition: color .3s ease;
}

.card-button:hover {
    color: var(--primary-color);
}

.card-button i {
    margin-right: 20px;
    font-size: 30px;
}

.step {
    position: relative;
}

.step::after {
    content: " ";
    display: block;
    position: absolute;
    right: -50px;
    top: calc(50% - 1px);
    z-index: 1;
    width: 70px;
    height: 0;
    border-bottom: 1px solid var(--secondary-color);
}

.step-thumbnail {
    position: relative;
    text-align: center;
}

.step-thumbnail img {
    width: 70%;
}

.step-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 10px;
}

.step-number {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    background: var(--secondary-color);
    color: #fff;
}

.step-title {
    font-weight: bold;
    text-align: center;
}

.solution-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solution-header h1 {
    margin-bottom: 20px;
}

.solution-header p {
    max-width: 600px;
}

.service {
    margin-bottom: 30px;
}

.service-icon {
    color: var(--primary-color);
    font-size: 34px;
    margin-bottom: 10px;
}

.service-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.service-text {
    font-size: 15px;
    line-height: 1.8;
}


/* Section Scroller */

.section-scroller {
    position: fixed;
    top: calc(50% - 125px);
    right: 20px;
    z-index: 100;
    display: flex;
}

.section-scroller .scrollbar {
    width: 6px;
    height: 250px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
}

.section-scroller .scrollbar .progress {
    width: 6px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    transition: height .3s ease;
}

.section-scroller .section-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    transition: transform .3s ease;
}

.section-scroller:hover .section-nav .section-nav-link {
    max-width: 300px;
}


.section-scroller .section-nav .section-nav-link {
    max-width: 25px;
    overflow: hidden;
    height: 25px;
    border-radius: 12.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 5px;
    font-size: .7rem;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    transition: max-width .3s ease-in-out, background .3s ease, transform .3s ease;
}

.section-scroller .section-nav .section-nav-link .icon {
    display: inline-flex;
    height: 100%;
    width: 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.section-scroller .section-nav .section-nav-link:hover {
    transform: translateX(-5px);
    background: var(--primary-color);
}

.section-scroller .section-nav .section-nav-link.active {
    background: var(--primary-color);
}


footer {
    background: var(--primary-color);
    min-height: 150px;
    display: flex;
    align-items: center;
}

footer .container .col-lg-3,
footer .container .col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-brand img {
    width: 150px;
}

/* Social media */

.social-media {
    text-align: center;
}

.social-media .social-link {
    margin-right: 10px;
}

.social-link {
    color: #fff;
    font-size: 24px;
    display: inline-block;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-success {
    color: var(--success-color) !important;
}

.text-danger {
    color: var(--danger-color) !important;
}

.text-warning {
    color: var(--warning-color) !important;
}

.text-info {
    color: var(--info-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-gray {
    color: rgb(64, 87, 93);
}

.border-right {
    border-right: 1px solid #e1e1e1;
}

.benefits_list {
    font-size: 20px;
    list-style-type: none;
    color: #fff;
}

.benefits_list li {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.benefits_list li .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-right: 20px;
    color: #fff;
    font-size: 32px;
    flex-shrink: 0;
    background: var(--primary-color);
}

.items-list {
    list-style-type: none;
}

.items-list li {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fff;
}

.items-list-lt li {
    border-left: 4px solid var(--primary-color);
    transition: transform .3s ease;
}

.items-list-lt li:hover {
    transform: translateX(10px);
}

.box {
    padding: 30px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.circle {
    width: 1000px;
    height: 1000px;
    border-radius: 500px;
    background: var(--primary-color);
}

.hidden {
    display: none;
}

.query-modal-icon img {
    height: 40px;
}

.query-modal-items {
    list-style-type: none;
}

.query-modal-items > li {
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    transition: transform .3s ease;
}

.query-modal-items > li li {
    margin-left: 50px;
}

.query-modal-items > li:hover {
    transform: translateX(10px);
}



.query-modal-items > li i {
    position: absolute;
    left: 10px;
    top: calc(50% - 9px);
    font-size: 18px;
    color: var(--success-color);
}

.check-list {
    list-style-type: none;
}

.check-list .check-list-item {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.check-list .check-list-item:hover {
    align-items: center;
    margin-bottom: 20px;
}


.check-list-check {
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
    color: var(--primary-color);
}

.query-card {
    overflow: hidden;
    border: 4px solid transparent;
    transition: transform .3s ease, border ;
    padding: 20px 10px;
    background: #fff;
    min-height: 400px;
    position: relative;
}

.query-card:hover {
    border-color: var(--secondary-color);
}

.query-card:hover {
    transform: translateY(-10px);
}

.query-card-header {
    text-align: center;
    padding: 10px;
    position: relative;
}

.query-icon {
    margin: 10px 0;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.query-icon img {
    width: 100px;
}

.query-card-body .btn {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 20px;
}

.query-title {
    font-weight: 500;
    font-size: 20px;
}

/* Tabs */

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #efefff;
}

.tab {
    padding: 20px 25px;
    font-size: 16px;
    color: #9999c0;
    border-bottom: 2px solid transparent;
    transition: border-color .3s ease;
}

.tab-wrapper {
    overflow: hidden;
}

.tab-icon {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    color: var(--primary-color);
}

.tab.active {
    border-color: var(--primary-color);
}

.tab-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.tab-item-icon {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #edf2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 25px;
    color: var(--primary-color);
    margin-right: 20px;
}

.tab-item-title {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.section-icon {
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.section-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-item-title {
    margin-bottom: 20px;
}

.section-item p {
    font-size: 16px;
}

.section-item-content {
    position: relative;
}

.section-item .number {
    font-size: 200px;
    color: #000;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 100px);
    z-index: -1;
}

#contact_form .modal__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato_form .modal__container {
    min-width: 1000px;
}

#contato_form .contact-title {
    width: 80%;
    text-align: center;
    font-weight: 300;
    color: var(--primary-color);
}

#img_contato_form {
    position: relative;
}

#img_contato_form img {
    width: 80%;
}

#contato_form .contact-description {
    font-size: 16px;
    color: #585858;
    text-align: center;
    
    margin-bottom: 30px;
}

#contato_form .form-control {
    height: 42px;
}

.solution-card {
    margin-top: 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    transition: transform .3s ease;
    text-align: center;
}

.solution-card:hover {
    transform: translateY(-10px);
}

.divider {
    width: 200px;
    height: 3px;
    background: var(--secondary-color);
    margin: 0 auto;
    margin-bottom: 50px;
}

.whatsapp-btn {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 25px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    z-index: 100;
    background: #25d366;
}

.arrows {
    position: fixed;
    right: 20px;
    top: calc(50% - 47px);
    z-index: 99;
}

.arrow {
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-color);
}

.arrow:disabled {
    background: #ccc;
    color: #999;
}

.arrow:not(:last-child) {
    margin-bottom: 10px;
}

#btn_seja_cliente,
#btn_entrar {
    display: none;
}

@media screen and (max-width: 1199px) {
    #menu,
    .side-buttons {
        display: none;
    }

    .btn-toggle {
        display: inline-flex;
    }

    .card {
        margin-bottom: 50px;
    }

    .card-body {
        min-height: 300px;
    }
}

@media screen and (max-width: 991.98px) {
    .section-title {
        font-size: 32px; 
    }

    .heading-xxl {
        font-size: 64px;
    }
    
    .heading-xl {
        font-size: 48px;
    }
    
    .heading-lg {
        font-size: 36px;
    }
    
    .heading-md {
        font-size: 26px;
    }
    
    .heading-sm {
        font-size: 16px;
    }

    footer {
        padding: 50px 0;
    }

    .footer-brand {
        margin-bottom: 10px;
    }

    .copyright, .section-item {
        margin-bottom: 20px;
    }

    .plan-card {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 767.98px) {
    .section-title {
        font-size: 28px; 
    }

    .heading-xxl {
        font-size: 58px;
    }
    
    .heading-xl {
        font-size: 42px;
    }
    
    .heading-lg {
        font-size: 30px;
    }
    
    .heading-md {
        font-size: 22px;
    }
    
    .heading-sm {
        font-size: 15px;
    }

    .solution-header p, .solution-slide p {
        font-size: 16px;
    }

    .tabs {
        flex-direction: column;
    }

}

@media screen and (max-width: 559.98px) {
    .section-title {
        font-size: 22px; 
    }

    .solution-header h1, .solution-slide h1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .solution-header p, .solution-slide p {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .heading-xxl {
        font-size: 44px;
    }
    
    .heading-xl {
        font-size: 36px;
    }
    
    .heading-lg {
        font-size: 24px;
    }
    
    .heading-md {
        font-size: 18px;
    }
    
    .heading-sm {
        font-size: 14px;
    }
}
