.page-header {
    background: var(--primary-color);
}

.solution-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solution-slide h1 {
    margin-bottom: 30px;
}

.solution-slide p {
    margin-bottom: 30px;
}

.solution-slide h1, p {
    max-width: 600px;
}

#nossas_solucoes {
    background: var(--primary-color);
}

#nossas_solucoes h1.section-title {
    font-weight: normal;
    font-size: 40px;
    color: white;
}

#como_funciona {
    background: #fff;
}

#temos_solucoes {
    background: #edf2f7;
    overflow-x: hidden;
}

#temos_solucoes_texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#temos_solucoes_texto h2,
#temos_solucoes_texto p {
    margin-bottom: 30px;
}

#img_consultas {
    border-radius: 20px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.01);
}

.big-number {
    font-size: 48px;
    font-weight: bold;
}

#indicadores {
    background-image: url("../images/indicadores.jpg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat,no-repeat;
    background-attachment: scroll,fixed;
}

#lista_indicadores {
    list-style-type: none;
}

#lista_indicadores {
    font-size: 32px;
}

#mapa iframe {
    width: 100%;
    height: 300px;
}

.splide {
    padding: 0 !important;
}

#slide_inicial {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/inicial.jpg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#slide_analise_credito {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/analise_de_credito.jpeg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#slide_recuperacao_recebiveis {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/recuperacao_de_recebiveis.jpeg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#slide_consulta_veicular {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/consulta_veicular.jpg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#slide_cobranca_eletronica {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/cobranca_eletronica.jpg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}