#recuperacao_de_recebiveis_page_header {
    background-image: linear-gradient(rgba(29, 29, 36, 0.85), rgba(29, 29, 36, 0.85)), url("../images/recuperacao_de_recebiveis.jpeg");
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#recuperacao_de_recebiveis_beneficios {
    background-image: linear-gradient(rgb(33, 37, 41), rgba(33, 37, 41, 0.8) 33%), linear-gradient(transparent 33%, rgb(33, 37, 41) 66%), url("../images/recuperacao_de_recebiveis_indicadores.jpeg");;
    background-position: 0 0,50% 50%;
    background-size: cover;
    background-repeat: repeat,no-repeat;
    background-attachment: scroll,fixed;
    min-height: 600px;
}

#img_carta_notificacao {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img_carta_notificacao img {
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0,0,0,.1);
}

#observacoes {
    position: relative;
    overflow: hidden;
}

#observacoes .circle {
    position: absolute;
    right: -500px;
    bottom: -500px;
    z-index: -1;
}